.page-body{
    width: 1280px;
    margin: 0 auto;
}
.navbar>ul{
    list-style-type: none;
}
.menu{
    text-align: center;
}
.list-menu{
    display: inline-block;
    text-align: center;
    margin-left: 70px;
    color: #ff0000;
}
.redrr{
    text-decoration: none;
    color: #ff0000;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.img{
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;
    margin: 0%;
}
.title{
    font-family: 'Montserrat';
    text-align: center;
    display: block;
}
.first_text{
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.second_text{
    width: 1145px;
    height: 216px;
    left: 67.5px;
    top: 275px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.button{
    margin: 0 auto;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    display: block;
}
.end-text{
    width: 462px;
    height: 39px;
    left: 608px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}